<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="./static/style/bootstrap.min.css"/>
        <link rel="stylesheet" href="./static/style/main.css"/>
        <script type="text/javascript" src="./static/javascript/jquery-3.6.1.js"></script>
        <script type="text/javascript" src="./static/javascript/main.js"></script>
    </head>
    <body>
        <h1>Howya Now</h1>
        <button onclick="uploadFile()">Hello</button>
        <p id="status"></p>
    </body>
</html>